{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="{{ url_for('main.login') }}" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username(size=32) }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
</form>
<p>Don't have an account? <a href="{{ url_for('main.signup') }}">Register here</a></p>
<p>Forgot your password? <a href="{{ url_for('main.reset_password_request') }}">Reset it here</a></p>
{% endblock %}

